@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply !text-[#dee7ff] bg-black antialiased w-full min-h-screen;
  font-family: "Noto Sans", sans-serif;
}

/* Contenedor Principal */
.main-container {
  @apply w-full min-h-screen flex flex-col items-center justify-start;
}

/* Utilidades Responsivas */
.section {
  @apply w-full py-12 px-4 sm:px-6 lg:px-8;
}

.gradient {
  background: rgb(65, 209, 255);
  background: linear-gradient(
    90deg,
    rgba(65, 209, 255, 1) 0%,
    rgba(146, 49, 190, 1) 100%
  );
}
